.hero.text-center{
    border-width: 2px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
    border-top-left-radius: 25px 5px;
    border-top-right-radius: 25px 55px;
    border-bottom-right-radius: 55px 25px;
    border-bottom-left-radius: 5px 25px;
    color: teal;
}

body{
    background-color: #98af98;
  }


#filter {
    color: #98af98

}