  
body {
    padding: 0;
    margin-left: 0;
  }
  
  /* set map, body, and html to 100% of the screen size */
  #mapid {
    height: 60%;
    width: 60%;
    position: center;
    zoom: 1;
  }
  
  
  body,
   html {
    height: 100%;
  }   

  #mapid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

body{
  background-color: #001a00;
}

h1 {
  color: whitesmoke;
  font-size: 100px;
}

p{
  color: whitesmoke;
  font-size: 35px;
}

.navbar-brand {
  color: whitesmoke;
  
}

.navbar.navbar-default {
  color: whitesmoke;
  font-size: 17px;
  a:hover {
    background-color: rgb(0, 225, 255);
  }

}



.jumbotron {
  border-color: white;
  margin-bottom: 0px;
}

#mapid  {
  margin-top: 25px;
  border-style: solid;
  border-width: 15px;
  border-color: #f7fcb9;
  /* outline-color: tomato; */
}

.jumbotron {
  padding: 1rem 1rem;
}

#text_msg {
  color: white;
  position: left;
  position: top;
}

